<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rizorsiumani.workondemanduser">

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RizorsiUmaniUser"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Inbox"
            android:exported="false" />
        <activity
            android:name=".Chatroom"
            android:exported="false" />
        <activity
            android:name=".ui.commercial_user_info.ComapnyInformation"
            android:exported="false" />
        <activity
            android:name=".ui.booking_date.BookingDateTime"
            android:exported="false" />
        <activity
            android:name=".ui.requested_sevices.RequestServices"
            android:exported="false" />
        <activity
            android:name=".ui.category.Categories"
            android:exported="false" />
        <activity
            android:name=".ui.promo_code.PromoCode"
            android:exported="false" />
        <activity
            android:name=".ui.edit_profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.all_posted_jobs.AllPostedJobs"
            android:exported="false" />
        <activity
            android:name=".ui.notification.Notification"
            android:exported="false" />
        <activity
            android:name=".ui.booking_detail.BookingDetail"
            android:exported="false" />
        <activity
            android:name=".ui.searched_sp.ResultantServiceProviders"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookService"
            android:exported="false" />
        <activity
            android:name=".ui.sp_detail.SpProfile"
            android:exported="false" />
        <activity
            android:name=".ui.sp_detail.ServiceProviderProfile"
            android:exported="false" />
        <activity
            android:name=".ui.service_providers.Serviceproviders"
            android:exported="false" />
        <activity
            android:name=".ui.address.SavedAddresses"
            android:exported="false" />
        <activity
            android:name=".ui.post_job.PostJob"
            android:exported="false" />
        <activity
            android:name=".ui.add_location.AddAddress"
            android:exported="false" />
        <activity
            android:name=".ui.filter.FilterSearch"
            android:exported="false" />
        <activity
            android:name=".ui.all_services.AllServices"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchServices"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.Dashboard"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.register.OtpVerification"
            android:exported="false" />
        <activity
            android:name=".ui.register.CreatePassword"
            android:exported="false" />
        <activity
            android:name=".ui.register.Register"
            android:exported="false" />
        <activity
            android:name=".ui.login.Login"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.welcome_user.WelcomeUser"
            android:exported="false" />
        <activity
            android:name=".ui.walkthrough.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAP_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rizorsiumani.workondemanduser.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>